{% extends "base.html" %}
{% block title %}Info{% endblock %}
{% block content %}
<div class="row h-100" id="back">
    <div class="col d-flex flex-column justify-content-center align-items-center">
      <div class="row text-center p-4 flex-column justify-content-center align-items-center" style="max-width: 80%;"id="square">
        <h2 class="px-5 py-1" id="my">O nas</h2>
        <p style="font-size: 20px;">
            Strona została stworzona przez studentów Akademii Górniczo-Hutniczej w Krakowie <br>
            w ramach projektu zaliczeniowego na Inżynierię Oprogramowania 2024/2025. <br>
            Wszelkie pytania i zażalenia proszę kierować do uczelni. <br>
            Prowadzący: Mirosław Ossysek <br>
            Zespół: Jakub Bukowski, Irmina Drabas, Danyil Golovan, <br>
            Alesandra Gorazda, Tymoteusz Grabowski, Piotr Gwiazda,  <br>
            Kacper Kwatera, Jakub Leszczyński, Łukasz Mróz
        </p>
      </div>
    </div>
  </div>
{% endblock %}