{% extends "economyBase.html" %}

{% block Economy_dynamic_content %}
<!-- Currency Conversion Section -->
<div class="service-currency container text-center row" id="economy_content_container">
                <h2 id="Gold_Price"></h2>
                <!-- Bottom Action Buttons -->
                <div class="service-buttons container text-center row justify-content-between">
                    <button id="chartButton" type="button" class="col-3 btn btn-lg btn-light">Wykres</button>
                </div>      
{% endblock %}


